<div class="login-page-animated">

  <!-- FORM PANEL LEFT -->
  <div class="form-panel">
    <div class="login-card">
      <img src="assets/img/logo_mbandja.png" class="logo"/>

      <h2>Connexion</h2>
      <p class="subtitle">Accédez à votre espace administratif</p>

      <form (submit)="login()" [formGroup]="loginForm">
        <div class="input-group">
          <label>Email</label>
          <input formControlName="email" placeholder="Adresse e-mail" />
          <ng-input-validation [control]="loginForm.get('email')"></ng-input-validation>
        </div>

        <div class="input-group">
          <label>Mot de passe</label>
          <input type="password" formControlName="password" placeholder="••••••••" />
          <ng-input-validation [control]="loginForm.get('password')"></ng-input-validation>
        </div>

        @if (isSubmit) {
          <button class="btn-primary" disabled>Connexion...</button>
        } @else {
          <button class="btn-primary" type="submit">Se connecter</button>
        }
      </form>

      <div class="footer">
        © 2026 Mbandja • Startup Université
      </div>
    </div>
  </div>
</div>
