.authentification-container {
  padding: 1rem;

  .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 200px;
  }

  .content {
    // Ajoutez vos styles ici
  }
}
